body {
    background-size:  cover;
}
.h {
    font-size: 23px;
    width: 100%;
    margin: 0px; 
}
.n {
    font-size: 15px;
    color: black;
}
.ds {
    float: left;
}
.sd, .vd {
    width: 200px;
    border-radius: 100px;
}
.dv {
    float: right;
}
#s, #v {
    font-size: 23px; 
    margin: 15px;
}
.p {
    width: 130px;
    font-size: 25px;   
}
canvas {
    border: 5px solid white;
    border-radius: 20px;
}